  ul:link {
  text-decoration: none;
}
a:hover {
    color: rgb(16, 5, 171); 
    cursor: pointer;   
}
 .f_container
{  
    display: inline-flex;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
     flex: 3 0 auto;
     height: 45px;      
}
li{
    list-style: none;
    display: inline;  
}
.f_image
{
    margin-left: 320px;
    border-radius: 5px; 
}
.first_contain
{
    display: inline-flex;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    
}
.contain
{
    color: rgb(105, 103, 103);
    font-size: 13px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-inline-start: 10px; 
}
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: trans;
    color: white;
    padding-left: 510px;
    padding-right: 120px;
    padding-bottom: 35px;
  }
  .play
  {
    position: absolute;
    bottom: 140px;
    right: 120px;
    left: 200px;
    background-color: trans;
    color: white;
    padding-left: 510px;
    padding-right: 120px;
    padding-bottom: 35px;
  }
  .raund
  {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 5px;
    background-color: white;
    color: rgb(0, 0, 0);
    padding-left: 300px;
    /* padding-bottom: 50px;  */
    padding-right: 12px;
    border-radius: 5px;
    padding:  -150px;

  }